In [1]:
import pandas as pd
from pathlib import Path

In [16]:
questions_wb = Path(r'examiner\src_files\exam_questions\exams\Python Basics.xlsx')
questions_df = pd.read_excel(questions_wb)
questions_df.drop_duplicates('id').sample(frac=1).sample(frac=1, axis=1).sort_values('id')

,option1,option4,correct_option_text,option2,id,correct_option_id,question_text,option3
0,string,int,int,list,1,option4,which of the following is not iterable?,dictionary
1,"1, 2","(1, 2), None","1, 2","(1, 2), (1, 2)",2,option1,"a, b = (1, 2)<br>in the expression what do a a...",Error
2,.python,.p,.py,.pl,3,option3,Which of the following is the correct extensio...,.py
3,indentation,all the above,indentation,key,4,option1,Which of the following is used to define a blo...,brackets
4,function,define,def,def,5,option2,What's the keyword for python functions?,fun
5,//,/*,#,#,6,option2,Which of the following is used for commenting ...,!
6,&apos;&apos;,&quot;&quot;hello world&quot;&quot;&quot;,&quot;&quot;hello world&quot;&quot;&quot;,&quot;hello world&quot;,7,option4,Which of the following is an invalid string in...,&apos;&apos;&apos;hello world&apos;&apos;&apos;
7,var1,var,1var,1var,8,option2,Which of the following is an invalid variable ...,var_1
8,factorial(),sqrt(),print(),print(),9,option2,Which of the following is a built-in function ...,seed()
9,-4,False,False,-3,10,option4,what's the output of the following expression<...,2

In [4]:
questions_df['id'].is_unique

True

In [5]:
for index, values in questions_df.iterrows():
    print(values['first_name'])

tioluwanimi
abdulmalik
imran
david
emmanuel
eniola

In [6]:
from pathlib import Path

x = Path(r'examiner\src_files\exam_questions\exams.xlsx').name
f"marked-{x}"

'marked-exams.xlsx'

In [8]:
marked_script = Path(r'C:\Users\Kun\Documents\VS code\Python\Flask\examiner\examiner\src_files\exam_questions\student_scripts\1_Python basics\abdulmalik.molumo@rain.com_1_Python basics\Marked-abdulmalik.molumo@rain.com_1_Python basics.xlsx')
marked_df = pd.read_excel(marked_script, keep_default_na=False)
score = marked_df['score']
percentage = f'{score.sum()*100/score.count()}%'
percentage

result = pd.DataFrame(
    columns=['id', 'first_name', 'last_name', 'class_type', 'cohort', 'score', 'max_score', 'percentage']
)

result.loc['jj'] = ['owolabi@rain.com', 'tito', 'kun', 'aiml', '9', 4, 10, '40%']
result

,id,first_name,last_name,class_type,cohort,score,max_score,percentage
jj,owolabi@rain.com,tito,kun,aiml,9,4,10,40%

In [14]:
'-'.join(['a'])

'a'